# Virtual Environment
venv/
env/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# Jupyter Notebooks
.ipynb_checkpoints/

# Data and Logs
data/
logs/

# IDE settings
.vscode/
.idea/

# System
.DS_Store
Thumbs.db
